page-changepassword {
	.changePswd.content{
		background-image: url('../assets/icon/bim.jpg');
		background-size: 100% 100%;
	}
	.rounded-input{
	    border: 1px solid #181818;
		border-radius: 30px;
		margin: 10px 0;
		height: 55px;
		color: #82786f;
		font-size: 13px;
		background-color: transparent;
	}
	.rounded-input.item-block .item-inner{
		border: none;
		padding: 15px;
	}
	.rounded-input.item-block .item-inner .label{
		position: absolute;
		margin: 0;
	}
	.rounded-input.item-block .item-inner .input{
		padding-left: 30px;
	}
	.changeImg img{
		margin-bottom: 10px;
	}
	.ChangePswdBtn{    
	    margin-top: 20px;
		margin-bottom: 21px;
		background: #eaab00;
		color: #fff;
		font-size: 13px;
		font-weight: 700;
		border-radius: 50px;
		outline: none;
		padding: 30px 40px;
		text-transform: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.ChangePswdBtn.activated{
		background-color: #eaab00;
	}
	.changeImg{
	    text-align: center;
		margin: 30px auto;
	}
	.ChangePswdTitle{
	    font-size: 18px;
		font-weight: 600;
		color: #003946;
		margin-bottom: 50px;
		text-align: center;
	}
	.custom_header .toolbar-background{
		background-color: transparent;
		border: 0;
	}
	.custom_header:after{
		background-image: none;
	}
	.custom_header .toolbar .button-inner{
		color: #000;
	}
	@media screen and (min-width:768px){
		.changeImg img{
			width: 15%;
		}
	}
	
	/* To over come extra space when input field is focused */
	.scroll-content{
		padding-bottom: 0px !important;
	}
	.change_back{
		background: none;
		color: #181818;
		top: 10px;
		left: 10px;
		box-shadow:none;
		font-size: 20px;
	
	}
	.change_back.activated {
		background-color: transparent !important;
	}
}
