<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding class="changePswd" no-bounce>

	<button ion-fixed class="change_back"ion-button icon-only (tap)="changePassBack()" >
				<ion-icon name="arrow-back"></ion-icon>
	</button>

	<div class="changeImg">
		<img src="./assets/icon/Sunlife-noText.svg" />
	</div>
	<div class="ChangePswdTitle">{{strings.changePswdTitle}}</div>
	<form  [formGroup]="changePasswdForm"  (ngSubmit)="changePswdFormSubmit(changePasswdForm)">
	
	<ion-item class="rounded-input">
			<ion-label><img src="./assets/icon/password.svg" /></ion-label>
			<ion-input clearOnEdit="false" type="password" (focus)="isNewFoucs=true" (focusout)="isNewFoucs=false"  placeholder="{{strings.newPswd}}" formControlName="newPasswd" name="newPasswd" ></ion-input>
		</ion-item>
	
		<div *ngIf="newPasswd.invalid && !isNewFoucs">
			<p [hidden]="!newPasswd.hasError('required')">{{strings.thisFiledIsRequired}} </p>
			<p [hidden]="!newPasswd.hasError('minlength')">{{strings.minLengthShould8}}</p>
		
		</div>
	
		<ion-item class="rounded-input">
			<ion-label><img src="./assets/icon/password.svg" /></ion-label>
			<ion-input clearOnEdit="false" type="password" (focus)="isConfFoucs=true" (focusout)="isConfFoucs=false" placeholder="{{strings.confirmPswd}}" formControlName="confPasswd"   name="confPasswd" required></ion-input>
		</ion-item>
		
		<div *ngIf="confPasswd.invalid && !isConfFoucs">
			<p [hidden]="!confPasswd.hasError('required')">{{strings.thisFiledIsRequired}} </p>
			<p [hidden]="!confPasswd.hasError('minlength')">{{strings.minLengthShould8}} </p>
			<!--<p [hidden]="!oldPasswd.hasError('pattern')">Special characters not allowed </p> -->
		</div>

		<p *ngIf="!confPasswd.invalid && !newPasswd.invalid && (confPasswd.value != newPasswd.value)">{{strings.passcodedoesntmatch}}</p>

		<button class="ChangePswdBtn"  [disabled]="changePasswdForm.invalid" ion-button block type="submit">{{strings.submitBtn}}</button>
	
	</form>
</ion-content>
