<!--
  Generated template for the ForgotPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	<ion-title class="header-title"><img src="./assets/icon/headerLogo.svg" /></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div class="searchTitle">{{strings.search}}</div>
	<form  [formGroup]="forgotForm" (ngSubmit)="PasswdForm(forgotForm)">
		<!-- <ion-item>
		  <ion-label stacked>USER ID</ion-label>
		  <ion-input type="text"  (focus)="isUserFoucs=true" (focusout)="isUserFoucs=false" formControlName="userID" name="userID" ></ion-input>

		</ion-item>

		<div  *ngIf="forgotForm.invalid && !isUserFoucs ">
		  <p [hidden]="!userID.hasError('required') " >This filed is required </p>
		  <p [hidden]="!userID.hasError('minlength') " >Minlength should be 8 </p>
		  <p [hidden]="!oldPasswd.hasError('pattern')" >Special characters not allowed </p>

		</div> -->
		
		<ion-card>
			<ion-card-content>
				<p class="subTitle">TRÍCH LỤC</p>
				<ion-item>
					<ion-input class="input-field"  placeholder="Email" (focus)="isMobileFoucs = true; isErrorEmail = false" [disabled]="isEmailFoucs" (focusout)="focusOut('email')" value="" formControlName="email"  name="email"></ion-input>
				</ion-item>			
				<div  *ngIf="email.invalid && isErrorEmail && !isEmailFoucs">
					<p [hidden]="!email.hasError('required') " >This filed is required </p>
					<p [hidden]="!forgotForm.hasError('email', 'email')" >Enter a valid email</p>
					<!-- <p [hidden]="!email.hasError('pattern')" >Special characters not allowed </p> -->

				</div>
				
				<p class="emailOrPhone">{{strings.or}}</p>
				
				<ion-item>
					<ion-input class="input-field" type="tel" (focus)="isEmailFoucs = true; isErrorMobile = false" [disabled]="isMobileFoucs"  (focusout)="focusOut('phone')" value="" placeholder="Mobile Number" formControlName="mobile"  name="mobile"></ion-input>
				</ion-item>
				<div  *ngIf="mobile.invalid && isErrorMobile && !isMobileFoucs">
					<p [hidden]="!mobile.hasError('required') " >This filed is required </p>
					<!--<p [hidden]="!mobile.hasError('minlength') " >Length should be 10 digits </p>
					<p [hidden]="!mobile.hasError('pattern') " >Enter valid mobile Number</p> -->

				</div>
			</ion-card-content>
		</ion-card>
		<button class="button-search" ion-button full>{{strings.submitBtn}}</button>
	</form>
</ion-content>