page-search-details {
    .page-title {
        color: #003946;
		font-size: 18px;
		font-weight: 700;
		padding-top: 10px;
		padding-left: 16px;
		margin-left: 16px;
		margin-top: 16px;
		margin-bottom: 23px;
		position: relative;
		z-index: 1;
    }
    .page-title:before {
        content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 36px;
		height: 36px;
		background-color: #eaab00;
		z-index: -1;
    }
	.scroll-content{
		padding-top: 0px !important;
	}
   	.card-content{
		padding: 30px 16px 16px 25px;
		font-size: 22px;
		line-height: 1.5;
	}
	.box-contract div span {
		font-weight: 600;
	}
	.box-contract .title{
		color: #fff;
		font-size: 11px;
		font-weight: 300;
		position: absolute;
		letter-spacing: 1px;
		padding: 5px 6px;;
		border-radius: 1px;
		margin: 0;
		text-transform: uppercase;
	}
	.box-contract .title .hdText{
		font-weight: 300;
	}
	.box-contract div {
	    color: #181818;
		font-size: 13px;
		font-weight: 300;
		margin-bottom: 3px;
	}
  .multiTitle{
    margin-bottom: 12px !important;
  }

}
